body{
    background-color: beige;
}
.heading{
    text-align: center;
    font-size: 20px;

}
.place{
    display:flex;
    flex-wrap: wrap;
    margin:20px;
    padding: 10px;
    row-gap:10px;
    justify-content: space-around;
}
.card{
    background-color: rgb(245, 213, 192);
    color:rgb(23, 9, 26);
}
